.navbar-brand-custom {
    list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
  align-content:stretch;
 
  }

 .row {
    background-image: url("./computers\ bea.jpg");
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
 
 }

  .mr-3 {
    width:30%; /* you can use % */
    height: auto;
    border-radius: 10px;
 }

 .mt-3 {
  
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  height: calc(50vh - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
 }
  
  h5 {
  padding: 20px;
  background-image: url("./computers\ bea.jpg");
  text-align: center;
  font-size: 30px;
  font-style: bold;

  
 }

 .mt-0 {
  color: greenyellow;
  font-style: bold;
  font-weight: bold;
  font-size: 20px;

 }

 .media {
  background-image: url("./computers\ bea.jpg");
  color:  rgb(152, 152, 174);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  align-content: flex-start;
  font-style: italic;
 }
 body{
  margin: 0;
  padding: 0;
  font-family: 'Yaldevi', sans-serif;


}
span{
  color: #fc5c65;
  font-weight:900;
 
}
 
footer{
  background: #f1f1f1;
  padding: 5px;
  
}
 
.footer-container{
  max-width: 1300px;
  margin: 0;
  padding: 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;

}
 
.logo{
  width: 180px;
}
 
.social-media{
  margin: 20px 0;
}
 
.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
 
.social-media a:hover{
  color: #fc5c65;
}
 
.right-col h1{
  font-size: 26px;
}
 
.border{
  width: 100px;
  height: 4px;
  background: #fc5c65;
}
 
.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
 
.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}
 
.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
 
.btn:hover{
  opacity: .7;
}
 
.page-content{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
 
@media screen and (max-width:960px) 
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: black;
    font-style: bold;
  }
 
  .left-col{
    width: 100%;
    text-align: center;
  
}
 
 
@media screen and (max-width:700px)
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
